# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
*/obj
*/bin
*/tmp
pydump*.py
core/python/__init__.py
*.pyc
*.root
*~
*.local
*.pdf
*.png
*.json
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*
Diboson/*
Puppi/*

BaconJets/*
JECDatabase/*
pydump.py
Makefile.local

*#*

scripts/crab/JetHT.xml
scripts/crab/JobConfig.dtd
scripts/crab/crab.log
scripts/crab/crab_PUPPI_DY_*_orig/
scripts/crab/crab_PUPPI_Data_2017_v*/
scripts/crab/crab_PUPPI_QCD*/
scripts/crab/crab_PUPPI_Signal_*/
scripts/crab/crab_SingleVLQ/
scripts/crab/crab_VH*/